@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Bowlers.Models.Bowler

<div>
    <form method="post" asp-controller="Home" asp-action="Edit">
        @*error message*@
        <div asp-validation-summary="All"></div>

        <h4>Basic Info</h4>
        <label asp-for="BowlerFirstName">First Name:</label>
        <input asp-for="BowlerFirstName" required />
        <br />
        <label asp-for="BowlerMiddleInit">Middle Initial(optional):</label>
        <input asp-for="BowlerMiddleInit" />
        <br />
        <label asp-for="BowlerLastName">Last Name:</label>
        <input asp-for="BowlerLastName" required />
        <br />
        <label asp-for="BowlerPhoneNumber">Phone Number:</label>
        <input asp-for="BowlerPhoneNumber" required />
        <br />
        <label asp-for="TeamID">Team:</label>
        <select asp-for="TeamID">
            <option value="">Select a Team</option>
            @foreach (Team t in ViewBag.Teams)
            {
                <option value="@t.TeamID">@t.TeamName</option>
            }
        </select>
        <h4>Address</h4>
        <label asp-for="BowlerAddress">Address:</label>
        <input asp-for="BowlerAddress" required />
        <br />
        <label asp-for="BowlerCity">City:</label>
        <input asp-for="BowlerCity" required />
        <br />
        <label asp-for="BowlerState">State:</label>
        <input asp-for="BowlerState" required />
        <br />
        <label asp-for="BowlerZip">Zip:</label>
        <input asp-for="BowlerZip" required />
        <br />
        <br />
        <button type="submit">Enter Info</button>
        <br />
        <input type="hidden" asp-for="BowlerID" />


    </form>
</div>

